<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.drp.sysmanage.mapper.DictMapper"> 
	<!-- 所有的字典字段 -->
	<sql id = "all_dict_columns">
	    id, value, label, type, description, sort, parent_id,
	    update_by, update_date, remarks, del_flag
	</sql>
	
	<!-- 获得字典列表 -->
	<select id="getDictList" resultType="dict">
		SELECT <include refid="all_dict_columns" />
		FROM drp_sys_dict
		<where>
			<if test="param1 != null">
				AND type = #{param1}
			</if>
			<if test="param2 != null">
				AND description LIKE '%${param2}%'
			</if>
			<if test="1 == 1">
				AND del_flag = 0
			</if>
		</where>
		
	</select>
	
	<!-- 获取所有的字典类型 -->
	<select id="getDictTypeList" resultType="string">
		SELECT DISTINCT type FROM drp_sys_dict WHERE del_flag = 0
	</select>
	
	<!-- 根据id获取字典的详细信息 -->
	<select id="getDictById" parameterType="long" resultType="dict">
		SELECT <include refid="all_dict_columns" />
		FROM drp_sys_dict
		WHERE id = #{dictId} AND del_flag = 0
	</select>
	
	<!-- 新增字典 -->
	<insert id="saveDict" parameterType="dict">
		INSERT INTO drp_sys_dict(value, label, type, description, sort, parent_id,
	    update_by, update_date, remarks, del_flag)
	    VALUES(#{value}, #{label}, #{type}, #{description}, #{sort}, #{parent_id}, 
	    #{update_by}, #{update_date}, #{remarks}, #{del_flag})
	</insert>
	
	<!-- 修改字典 -->
	<update id="updateDict" parameterType="dict">
		UPDATE drp_sys_dict SET 
		value = #{value},
		label = #{label},
		type = #{type},
		description = #{description},
		sort = #{sort},
		parent_id = #{parentId},
		update_by = #{updateBy},
		update_date = #{updateDate},
		remarks = #{remarks},
		del_flag = #{delFlag}
		WHERE id = #{id}
	</update>
</mapper>