<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.drp.sysmanage.mapper.LogMapper"> 
	
	<!-- 日志表的所有字段 -->
	<sql id="all_log_columns">
		id, type, title, create_by, create_date
	</sql>
	
	
</mapper>