<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.drp.sysmanage.mapper.LogMapper"> 
	<!-- 日志表的所有字段 -->
	<sql id="all_log_columns">
		id, dept_id, type, title, create_by, create_date
	</sql>
	
	<!-- 日志表的所有字段的别名 -->
	<sql id="all_log_columns_alias">
		A.id, A.dept_id, A.type, A.title, A.create_by, A.create_date
	</sql>
	
	<!-- 查询日志列表 -->
	<select id="getLogList" parameterType="logDto" resultType="log">
		SELECT <include refid="all_log_columns" />, B.name
		FROM drp_sys_log A, drp_sys_dept B
		<where>
			<if test="type != null">
				type LIKE '%${type}%' AND
			</if>
			<if test="createBy != null">
				create_by LIKE '%${createBy}%' AND
			</if>
			<if test="startTime != null">
				<if test="endTime != null">
					create_date BETWEEN #{startTime} AND #{endTime} AND
				</if>
			</if>
		</where>
	</select>
	
	<!-- 增加日志 -->
	<insert id="saveLog" parameterType="log">
		INSERT INTO drp_sys_log(type, title, create_by, create_date, dept_id)
		VALUES(#{type}, #{title}, #{createBy}, #{createDate}, #{deptId})
	</insert>
	
	<!-- 删除日志 -->
	<delete id="delLog" parameterType="long">
		DELETE FROM drp_sys_log WHERE id = #{id}
	</delete>
	
</mapper>