<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.drp.sysmanage.mapper.MenuMapper"> 
	
	<!-- 所有的菜单字段 -->
	<sql id="all_menu_columns">
		id, parent_id, name, sort, href, target, icon, is_show,
		permission, update_by, update_date, remarks, del_flag
	</sql>
	
	<!-- 所有菜单字段的别名 -->
	<sql id="all_menu_columns_aliases">
		A.id, A.parent_id, A.name, A.sort, A.href, A.target, A.icon, A.is_show,
		A.permission, A.update_by, A.update_date, A.remarks, A.del_flag
	</sql>
	
	<!-- 根据用户的id获取用户所能够操作的用户列表 -->
	<select id="getMenuListByUserId" parameterType="long" resultType="menu">
		SELECT <include refid="all_menu_columns_aliases" />
		FROM drp_sys_menu A, drp_sys_user_role B, drp_sys_role_menu C
		WHERE B.user_id = #{userId} AND  B.role_id = C.role_id AND C.menu_id = A.id AND A.del_flag = 0
	</select>
	
	<!-- 获取所有的菜单列表 -->
	<select id="getAllMenuList" resultType="menu">
		SELECT <include refid="all_menu_columns" />
		FROM drp_sys_menu WHERE del_flag = 0
	</select>
	
	<!-- 添加菜单 -->
	<insert id="saveMenu" parameterType="menu">
		INSERT INTO drp_sys_menu(parent_id, name, sort, href, target,
		icon, is_show, permission, update_by, update_date, remarks)
		VALUES(#{parentId}, #{name}, #{sort}, #{href}, #{target},
		#{icon}, #{isShow}, #{permission}, #{updateBy}, #{updateDate}, #{remarks})
	</insert>
	
</mapper>