<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.drp.sysmanage.mapper.RoleMapper"> 
	
	<!-- 角色表的所有字段 -->
	<sql id="all_role_columns">
		id, name, update_by, update_date, remarks, del_flag
	</sql>
	
	<!-- 角色表的所有字段的别名 -->
	<sql id="all_role_columns_alias">
		A.id, A.name, A.update_by, A.update_date, A.remarks, A.del_flag
	</sql>
	
	<!-- 查询所有的角色列表 -->
	<select id="getAllRoleList" resultType="role">
		SELECT <include refid="all_role_columns" />
		FROM drp_sys_role
		WHERE del_flag = 0
	</select>
	
	<!-- 根据id获取角色的详细信息 -->
	<select id="getRoleById" parameterType="long" resultType="role">
		SELECT <include refid="all_role_columns" />
		FROM drp_sys_role WHERE id = #{id} AND del_flag = 0
	</select>
	
	<!-- 添加角色 -->
	<insert id="saveRole" parameterType="role">
		INSERT INTO drp_sys_role(name, update_by, update_date, remarks)
		VALUES(#{name}, #{updateBy}, #{updateDate}, #{remarks})
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
	</insert>
	
	<!-- 修改角色 -->
	<update id="updateRole" parameterType="role">
		UPDATE drp_sys_role
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
		</set>
		WHERE id = #{id} AND del_flag = 0
	</update>
	
	<!-- 删除角色（逻辑删除） -->
	<update id="delRole">
		UPDATE drp_sys_role SET del_flag = 1
		WHERE id = #{id}
	</update>
	
</mapper>