<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.drp.sysmanage.mapper.RoleToDeptMapper"> 
	
	<!-- 新增角色-部门对应表的一条记录 -->
	<insert id="saveRoleToDept" parameterType="roleToDept">
		INSERT INTO drp_sys_role_dept(role_id, dept_id)
		VALUES(#{roleId}, #{deptId})
	</insert>
	
	<!-- 根据角色id，删除角色-部门对应表的一条记录 -->
	<delete id="deleteRoleToDept" parameterType="long">
		DELETE FROM drp_sys_role_dept
		WHERE role_id = #{roleId}
	</delete>
	
	<!-- 根据部门id，删除角色-部门对应表的记录 -->
	<delete id="deleteRoleToDeptByDId" parameterType="long">
		DELETE FROM drp_sys_role_dept
		WHERE dept_id = #{deptId}
	</delete>
	
</mapper>