<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.pms.sysmanage.mapper.AreaMapper"> 
	
	<!-- 区域表的所有字段 -->
	<sql id="all_area_columns">
		id, parent_id, name, sort, code, create_by, create_date, 
		update_by, update_date, remarks, del_flag
	</sql>
	
	<!-- 区域表的所有字段的别名 -->
	<sql id="all_area_columns_alias">
		A.id, A.parent_id, A.name, A.sort, A.code, A.create_by, A.create_date, 
		A.update_by, A.update_date, A.remarks, A.del_flag
	</sql>
	
	<select id="getAreaDetailById" parameterType="long" resultType="areaDto">
		SELECT <include refid="all_area_columns_alias" />,B.name parentName
		FROM pms_sys_area A LEFT JOIN pms_sys_area B ON A.parent_id = B.id
		WHERE A.id = #{id} AND A.del_flag = 0
	</select>
	
	<!-- 查询所有的区域列表 -->
	<select id="getAllAreaList" resultType="area">
		SELECT <include refid="all_area_columns" />
		FROM pms_sys_area
		WHERE del_flag = 0
	</select>
	
	<!-- 根据角色id获取区域列表 -->
	<select id="getAreaListByRoleId" parameterType="long" resultType="area">
		SELECT <include refid="all_area_columns_alias" />
		FROM pms_sys_area A, pms_sys_role_area B
		WHERE B.role_id = #{roleId}	AND A.id = B.area_id
	</select>
	
	<!-- 通过父级区域id获取所有的子区域 -->
	<select id="getSubAreaByPId" parameterType="long" resultType="area">
		SELECT <include refid="all_area_columns" />
		FROM pms_sys_area
		WHERE parent_id = #{parentId} AND del_flag = 0
	</select>
	
	<!-- 统计当前区域下的直接子区域的数量 -->
	<select id="countSubArea" parameterType="long" resultType="integer">
		SELECT COUNT(id) FROM pms_sys_area
		WHERE parent_id = #{id} AND del_flag = 0
	</select>
	
	<!-- 添加区域 -->
	<insert id="saveArea" parameterType="area" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO pms_sys_area(parent_id, name, sort, code, create_by,
		create_date, update_by, update_date, remarks)
		VALUES(#{parentId}, #{name}, #{sort}, #{code}, #{createBy}, #{createDate},
		#{updateBy}, #{updateDate}, #{remarks})
	</insert>
	
	<!-- 修改区域 -->
	<update id="updateArea" parameterType="area">
		UPDATE pms_sys_area
		<set>
			<if test="parentId != null">
				parent_id = #{parentId},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
		</set>
		WHERE id = #{id} AND del_flag = 0
	</update>
	
	<!-- 删除区域（逻辑删除） -->
	<update id="delArea">
		UPDATE pms_sys_area SET del_flag = 1
		WHERE id = #{id}
	</update>
	
</mapper>