<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "com.lyu.pms.sysmanage.mapper.LogMapper"> 
	<!-- 日志表的所有字段 -->
	<sql id="all_log_columns">
		id, dept_id, type, title, create_by, create_date
	</sql>
	
	<!-- 日志表的所有字段的别名 -->
	<sql id="all_log_columns_alias">
		A.id, A.dept_id, A.type, A.title, A.create_by, A.create_date
	</sql>
	
	<!-- 查询日志列表 -->
	<select id="getLogList" parameterType="logDto" resultType="logDto">
		SELECT <include refid="all_log_columns_alias" />, B.name deptName
		FROM pms_sys_log A, pms_sys_dept B
		<where>
			<if test="1 == 1">
				A.dept_id = B.id AND
			</if>
			<if test="type != null">
				type LIKE '%${type}%' AND
			</if>
			<if test="createBy != null">
				create_by LIKE '%${createBy}%' AND
			</if>
			<if test="beginDate != null">
				create_date BETWEEN #{beginDate} AND #{endDate}
			</if>
		</where>
	</select>
	
	<!-- 增加日志 -->
	<insert id="saveLog" parameterType="log">
		INSERT INTO pms_sys_log(type, title, create_by, create_date, dept_id)
		VALUES(#{type}, #{title}, #{createBy}, #{createDate}, #{deptId})
	</insert>
	
	<!-- 删除日志 -->
	<delete id="delLog" parameterType="long">
		DELETE FROM pms_sys_log WHERE id = #{id}
	</delete>
	
</mapper>