<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd      
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
  	
  	<!-- 1.开启cglib动态代理 -->
  	<aop:config proxy-target-class="true"></aop:config>
  	
  	<!-- 2.开启shiro的授权代理 -->
  	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
  		<property name="securityManager" ref="securityManager" />
  	</bean>
  	
	<!-- web.xml配置的过滤器对应的bean -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/toLogin.action"></property>
		<property name="successUrl" value="/main.action"></property>
		<property name="unauthorizedUrl" value="/refusePage.jsp" />
		
		<property name="filterChainDefinitions">
			<value>
				/jsAndCss/** = anon
				/login.action = anon
				<!-- /sysmgr/getDictListPage.action = perms[dict:query] -->
				<!-- /sysmgr/changePwd.action = perms[user:chpwd] -->
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 安全管理器SecurityManager -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="userRealm"></property>
	</bean>
	
	<!-- 自定义的realm -->
	<bean id="userRealm" class="com.lyu.drp.security.UserRealm"></bean>
	 
</beans>